.ribbon-1 {
  /* ribbon */
  /*==Ribbon-icon==*/
}

.ribbon-1 .ribbon-box {
  position: relative;
  background: #ffffff;
  border: 5px double #eff2f9;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 30px;
  padding: 50px 15px 15px 15px;
}

.ribbon-1 .ribbon {
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  clear: left;
  position: absolute;
  top: 0px;
  left: -2px;
  color: #ffffff;
}

.ribbon-1 .ribbon.ribbon-mark:before {
  position: absolute;
  top: 0;
  left: 100%;
  display: block;
  width: 0;
  height: 0;
  content: '';
  border: 15px solid #2f4686;
  border-right: 10px solid transparent;
}

.ribbon-1 .ribbon-right {
  left: auto;
  right: -2px;
}

.ribbon-1 .ribbon-mark.ribbon-right:before {
  right: 100%;
  left: auto;
  border-right: 15px solid #2f4686;
  border-left: 10px solid transparent;
}

.ribbon-1 .ribbon-icon {
  clear: none;
  padding: 0 5px;
  height: 42px;
  width: 30px;
  line-height: 40px;
  text-align: center;
  left: 0px;
  top: -2px;
}

.ribbon-1 .ribbon-mark.ribbon-icon:before {
  top: 100%;
  left: 0;
  margin-top: -14px;
  border-right: 15px solid #2f4686;
  border-bottom: 10px solid transparent;
}

.ribbon-1 .ribbon-mark.ribbon-right {
  right: -5px;
  left: auto;
}

.ribbon-1 .ribbon-mark {
  border-radius: 0;
  top: -5px;
  left: -5px;
}

.ribbon-1 .ribbon-mark.ribbon-icon.bg-primary:before {
  border-right-color: #4d79f6;
  border-bottom-color: transparent;
}

.ribbon-1 .ribbon-mark.ribbon-icon.bg-info:before {
  border-right-color: #9ba7ca;
  border-bottom-color: transparent;
}

.ribbon-1 .ribbon-mark.ribbon-icon.bg-secondary:before {
  border-right-color: #4ac7ec;
  border-bottom-color: transparent;
}

.ribbon-1 .ribbon-mark.ribbon-icon.bg-danger:before {
  border-right-color: #f1646c;
  border-bottom-color: transparent;
}

.ribbon-1 .ribbon-mark.bg-secondary:before {
  border-color: #4ac7ec;
  border-right-color: transparent;
}

.ribbon-1 .ribbon-mark.bg-danger:before {
  border-color: #f1646c;
  border-right-color: transparent;
}

.ribbon-1 .ribbon-mark.bg-primary:before {
  border-color: #4d79f6;
  border-right-color: transparent;
}

.ribbon-1 .ribbon-mark.bg-info:before {
  border-color: #9ba7ca;
  border-right-color: transparent;
}

.ribbon-1 .ribbon-mark.ribbon-right.bg-danger:before {
  border-right-color: #f1646c;
  border-left-color: transparent;
}

.ribbon-1 .ribbon-mark.ribbon-right.bg-info:before {
  border-right-color: #9ba7ca;
  border-left-color: transparent;
}

.ribbon-1 .ribbon-mark.ribbon-right.bg-primary:before {
  border-right-color: #4d79f6;
  border-left-color: transparent;
}

.ribbon-1 .ribbon-mark.ribbon-right.bg-secondary:before {
  border-right-color: #4ac7ec;
  border-left-color: transparent;
}

.ribbon-1 p {
  color: #50649c;
}

/*============ribbon-2=============*/
.ribbon-2 .ribbon-box {
  position: relative;
}

.ribbon-2 .ribbon-box .ribbon {
  position: relative;
  float: left;
  clear: both;
  padding: 5px 12px 5px 12px;
  margin: -26px 0px 15px -26px;
  color: #ffffff;
}

.ribbon-2 .ribbon-box .ribbon-primary {
  background: #4d79f6;
}

.ribbon-2 .ribbon-box .ribbon-primary:before {
  position: absolute;
  top: 29px;
  left: 0;
  content: "";
  border: 3px solid transparent;
  border-top-color: #1c54f4;
  border-right-color: #1c54f4;
}

.ribbon-2 .ribbon-box .ribbon-info {
  background-color: #9ba7ca;
}

.ribbon-2 .ribbon-box .ribbon-info:before {
  position: absolute;
  top: 29px;
  left: 0;
  content: "";
  border: 3px solid transparent;
  border-top-color: #7a8ab8;
  border-right-color: #7a8ab8;
}

.ribbon-2 .ribbon-box .ribbon-danger {
  background-color: #f1646c;
}

.ribbon-2 .ribbon-box .ribbon-danger:before {
  position: absolute;
  top: 29px;
  left: 0;
  content: "";
  border: 3px solid transparent;
  border-top-color: #ed3540;
  border-right-color: #ed3540;
}

.ribbon-2 .ribbon-box .ribbon-secondary {
  background-color: #4ac7ec;
  color: #f3f6f7;
}

.ribbon-2 .ribbon-box .ribbon-secondary:before {
  position: absolute;
  top: 29px;
  left: 0;
  content: "";
  border: 3px solid transparent;
  border-top-color: #1cb9e7;
  border-right-color: #1cb9e7;
}

.ribbon-2 .ribbon-box .ribbon + p {
  clear: both;
}

.ribbon-2 .card-box {
  padding: 20px;
  border: 5px double #eff2f9;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.ribbon-2 p {
  color: #50649c;
}

.ribbon.bg-secondary {
  background-color: #4ac7ec;
  color: #f3f6f7;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  border-color: #ffffff;
}

.radio .custom-control-label::after {
  position: absolute;
  top: 7px;
}

.checkbox label {
  display: inline-block;
  padding-left: 8px;
  position: relative;
  font-weight: normal;
}

.checkbox label::before {
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  background-color: #ffffff;
  border-radius: 3px;
  border: 2px solid #a4abc5;
  content: "";
  display: inline-block;
  height: 18px;
  left: 0;
  top: 0px;
  margin-left: -18px;
  position: absolute;
  transition: 0.3s ease-in-out;
  width: 18px;
  outline: none !important;
}

.checkbox label::after {
  color: #f1f5fa;
  display: inline-block;
  font-size: 11px;
  height: 18px;
  left: 0;
  margin-left: -18px;
  padding-left: 3px;
  padding-top: 2px;
  position: absolute;
  width: 18px;
}

.checkbox input[type="checkbox"] {
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  outline: none !important;
}

.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline-offset: -2px;
  outline: none;
}

.checkbox input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 7px;
  display: table;
  width: 5px;
  height: 10px;
  border: 1px solid #2f4686;
  border-top-width: 0;
  border-left-width: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #f1f5fa;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox.checkbox-single input {
  height: 18px;
  width: 18px;
  position: absolute;
}

.checkbox.checkbox-single label {
  height: 18px;
  width: 18px;
}

.checkbox.checkbox-single label:before {
  margin-left: 0;
}

.checkbox.checkbox-single label:after {
  margin-left: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #4d79f6;
  border-color: #4d79f6;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
  border-color: #ffffff;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #f1646c;
  border-color: #f1646c;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
  border-color: #ffffff;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #9ba7ca;
  border-color: #9ba7ca;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
  border-color: #ffffff;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #f3c74d;
  border-color: #f3c74d;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
  border-color: #ffffff;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #1ecab8;
  border-color: #1ecab8;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
  border-color: #ffffff;
}

.checkbox-purple input[type="checkbox"]:checked + label::before {
  background-color: #7551e9;
  border-color: #7551e9;
}

.checkbox-purple input[type="checkbox"]:checked + label::after {
  border-color: #ffffff;
}

.checkbox-pink input[type="checkbox"]:checked + label::before {
  background-color: #ff5da0;
  border-color: #ff5da0;
}

.checkbox-pink input[type="checkbox"]:checked + label::after {
  border-color: #ffffff;
}

.checkbox-dark input[type="checkbox"]:checked + label::before {
  background-color: #2f4686;
  border-color: #2f4686;
}

.checkbox-dark input[type="checkbox"]:checked + label::after {
  border-color: #ffffff;
}
